<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rajat's Travel Blog</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <header>
        <a href="/">
            <img src="images\erwan-hesry-Q34YB7yjAxA-unsplash.jpg" alt="travel luggage" />
        </a>

        <h1>My Travel Blog</h1>
        <br />
    </header>
</body>

</html>