<nav class="top_menu">
  <ul>
    <% for(var link of links) { %>
      <li>
        <a href="/view/<%= link._id%>"><%= link.title %></a>
      </li>
    <% } %>
    <li>
      <a href="/login">Login</a>
    </li>
  </ul>
</nav>
