<nav class="top_menu">
  <ul>
    <li>
      <a href="/addpage">Add Page</a>
    </li>
    <li>
      <a href="/allpages">Edit Pages</a>
    </li>
    <li>
      <a href="/logout">Logout</a>
    </li>
  </ul>
</nav>
