<%- include('layouts/header') %>
<%- include('layouts/navadmin') %>
<main>
  <section>
    <h1>Welcome Admin. You can add, edit or delete pages now!!</h1>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <% for(var page of pages) { %>
              <tr>
                  <td><%= page.title%></td>
                  <td><a href="/edit/<%= page._id %>">Edit</a></td>
                  <td><a href="/delete/<%= page._id %>">Delete</a></td>
              </tr>
            <% } %>  
        </tbody>
      </table>
      <br>
      <p><b>Do not delete home page.</b></p>
  </section>
</main>
</body>
<%- include('layouts/footer') %>
