<%- include('layouts/header.ejs') %>
<%- include('layouts/navadmin.ejs')%>
<section>
    <form name="addForm" method="POST" action="" enctype="multipart/form-data">
      <label for="title">Title</label>
      <input type="text" name="title" id="title" value="<%= page.title%>"/> <br />
      <label for="image">Image</label>
      <input type="file" name="image" id="image" /> <br />
      <label for="content">Content</label>
      <input type="text" name="content" id="content" value="<%= page.content%>"/> <br /><br />
      <input type="submit" value="Save" />
    </form>
    <br><br>
    <% if(typeof(errors) != 'undefined'){ 
        for(var error of errors){ %>
          <p class="errors"><%= error.msg%></p>
    <% } } %>
  </section>
</body>
<script src="js/tinymce/jquery.tinymce.min.js"></script>
<script src="js/tinymce/tinymce.min.js"></script>

<script>
  tinymce.init({
    selector: '#content',
    height: 200,
    menubar: false,
  });
</script>
<%- include('layouts/footer.ejs')%>