<%- include('layouts/header')%>
    <main>
        <%- include('layouts/nav') %>
            <img src="uploads/<%= page.imageName%>" alt="<%= page.imageName%>">
            <h2><%= page.title%></h2>
            <p><%- page.content %></p> <br><br>
    </main>
    </body>
    <%- include('layouts/footer')%>