<%- include('layouts/header') %>
<%- include('layouts/nav') %>
  <section>
    <form name="loginform" method="POST" action="">
      <label for="username">User Name</label>
      <input id="username" type="text" name="username" /> <br />
      <label for="password">Password</label>
      <input id="password" type="password" name="password" />
      <br /><br />
      <input type="submit" value="Login" id="submit"/>
      <p id="errors">
        <% if(typeof error != 'undefined') { %> <%= errors %> <% } %>
      </p>
    </form>
  </section>
</body>
<%- include('layouts/footer') %>
