main {
  float: clear;
}
body{
  height: 600px
}
.top_menu {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #8c087a;
  border: 3px solid white;
  box-shadow: 0 0 10px #2c2c2c;
  color: white;
  border-radius: 20px;
}

.top_menu ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
}

.top_menu ul li {
  display: inline-block;
  width: 130px;
}

.top_menu ul li:hover {
  background-color: #0781b2;
}
.top_menu ul li a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 0;
  display: block;
}
footer {
  text-align: center;
  position: fixed;
  bottom: 10px;
  padding: 0 500px;
  background-color: #B4B897;
  color: #2c2c2c;
  font-weight: bold;
}

header {
  background-color: #368b85;
  margin-top: 10px;
}

header h1 {
  margin-left: 140px;
}

header img {
  float: left;
  height: 76px;
}

section label{
  display: inline-block;
  width: 150px;
  font-size: 20px;
  margin: 5px;
}
section input{
  border: 1px solid black;
  font-size: 20px;
}

section #submit{
  margin-left: 100px;
  margin-bottom: 0px;
}

main{
  text-align: center;
}

main img {
   height: 200px;
   width: 400px;
}

table{
  margin: auto;
}

table,th,td{
  border: 1px solid black;
  border-collapse: collapse;
}

td{
  width: 80px;
}

.errors{
  background-color: red;
  font-weight: bold;
  color: white;
  margin: 2px auto; 
}
